#site-header{
  position: fixed;
  top: 0;
  width: 100%;

}
#wrapper{
  display: flex;
  justify-content: center;
}
#wrapper2{
	display: flex;
	justify-content: center;
  }

ul.list-products{
  display: flex;
  max-width: 1060px;
}
a{
	text-decoration: none;
}
ul.list-products li{
	max-width: 524px;
	overflow: hidden;
}
ul.list-products li a img{
	padding: 10px;
	display: block;
	max-width: 100%;
	transition: all 0.3s ease-in-out;
}
ul.list-products li a{
	display: block;
	position: relative;
}
ul.list-products li:hover img{
	transform: scale(1.05);
	opacity: 0.8;
}
ul.list-products li a .name{
	position: absolute;
	color: #333;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 30px;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
ul.list-products li a:hover .name{
	bottom: 40%;
	opacity: 1;
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 50px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ce0707;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

ul{
  padding-left: 0rem;
}

body{
  padding-bottom: 0 !important;
}